.primary {
  background-color: #1ADB72;
}

.secondary {
  background-color: #FFFFFF;
}

section {
  padding: 50px;
}

section img {
  vertical-align: middle;
}

section.centered {
  text-align: center;
}
