.top-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  width: 100%;
}

.navbar-logo, .links {
  margin-top: 3em;
  margin-bottom: 3em
}

.navbar-logo {
  margin-left: 3em;
}

.links {
  margin-right: 3em;
}

.fixed {
  position: fixed;
}

.top-nav img {
  width: 320px;
}

.links {
  margin-left: auto;
}

.links ul {
  display: flex;
  list-style-type: none;
}

.links li {
  margin-left: 1.2em;
}
